body {
    background-color:#787878;
}

logo {
    background-image: url("logo.png");
}

.rotate {
    transition-duration: 0.8s;
    transition-property: transform;
    overflow:hidden;
    cursor: pointer;
}

.rotate:hover {
    transform:rotate(360deg);
}
